html {
    min-width: 100vh;
    min-height: 100vh;
    background: var(--bg-linear-grad-purple, linear-gradient(0deg, #0A0F08 0%, #2D3047 25%, #6E75AD 50%, #FFF 100%))no-repeat;
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    position: relative;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 4rem 1rem;
}

header {
    display: flex;
    padding: 2px 80px;
    background-color: #FFF;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    height: 125px;
    background: var(--gray-wash, #F8F8F8);
    box-shadow: 0px 8px 10px 0px rgba(10, 15, 8, 0.12);
}

.main-logo {
    display: flex;
    height: 80px;
    padding-right: 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

section #hero {
    display: flex;
    /* padding: 82.617px 356px 30.723px 0px; */
    align-items: center;
}

.it-me {
    display: flex;
    float: left;
    width: 363.66px;
    height: 424.895px;
    transform: rotate(180deg);
    flex-shrink: 0;
    /* position: relative; */
}

#intro {
    display: flex;
    max-width: 1384px;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    padding: 82.617px 356px 30.723px 50px;
}

h1 {
    display: flex;
    color: #0A0F08;
    font-family: Oswald, sans-serif;
    font-size: 58px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
}

h2 {
    color: #0A0F08;
    font-family: Oswald, sans-serif;
    font-size: 46px;
    font-style: normal;
    font-weight: 400;
}

h3 {
color: var(--gray-wash, #F8F8F8);
text-shadow: 0px 4px 4px rgba(10, 15, 8, 0.50);
font-family: Oswald, sans-serif;
font-size: 38px;
font-style: normal;
font-weight: 500;
line-height: 100%;
}

h4 {
    color: var(--gray-wash, #F8F8F8);
text-shadow: 0px 4px 4px rgba(10, 15, 8, 0.50);
font-family: Oswald, sans-serif;
font-size: 34px;
font-style: normal;
font-weight: 500;
line-height: 100%;
}

p {
    color: #0A0F08;
    font-family: Avenir;
    font-size: 22px;
    font-style: normal;
    font-weight: 350;
}

p.intro-paragraph {
    color: #0A0F08;
    font-family: Avenir;
    font-size: 28px;
    font-style: normal;
    font-weight: 350;
}

p.skill-tag {
    display: flex;
    justify-content: center;
    gap: 8px;
    height: 38px;
    padding: 10px 20px;
    align-items: center;
    border-radius: 6px;
    border: 1px solid var(--cherryblossom, #EEE2FC);
    background:#0A0F08;
    font-family: Avenir, sans-serif;
    font-size: 18px;
    color: #EEE2FC;
}


#button-container {
    display: flex;
    justify-content:flex-start;
    gap: 16px;
    width: 832px;
}

button {
    display: flex;
    box-sizing: border-box;
    box-shadow: 0px 8px 10px 0px rgba(10, 15, 8, 0.12);
    height: 48px;
    padding: 20px 20px;
    align-items: center;
    border-radius: 6px;
    border: 1px solid #000;
    background: #C8DAB4;
    font-family: Oswald, sans-serif;
    color: #0A0F08;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

a {
    display: flex;
    text-decoration: none;
    color: inherit;
}

button:hover {
    display: flex;
    box-sizing: border-box;
    box-shadow: 0px 8px 10px 0px rgba(255, 255, 255, 0.12);
    height: 48px;
    padding: 20px 20px;
    align-items: center;
    border-radius: 6px;
    border: 1px solid #fff;
    background: #6c74d3;
    font-family: Oswald, sans-serif;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

button:focus {
    display: flex;
    box-sizing: border-box;
    box-shadow: 2px 2px 5px #fff;
    height: 48px;
    padding: 20px 20px;
    align-items: center;
    border-radius: 6px;
    border: 2px solid #fff;
    background: #6c74d3;
    font-family: Oswald, sans-serif;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}


.skills-container {
    display: flex;
    padding: 86px 131px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 28px;
    border-radius: 0px 60px;
    border: 1px solid var(--gray-wash, #F8F8F8);
    background: var(--content-grad-lightpurp, linear-gradient(93deg, rgba(255, 255, 255, 0.00) 2.29%, rgba(65, 74, 145, 0.34) 101.76%));
    box-shadow: 0px 8px 10px 5px rgba(65, 74, 145, 0.10);
}

.skills-wrap {
display: flex;
display: grid;grid-template-columns: repeat(6, 1fr);
gap: 8px;
}

#industry-tag {
    display: flex;
    justify-content: center;
    gap: 8px;
    height: 38px;
    padding: 10px 20px;
    align-items: center;
    border-radius: 6px;
    border: 1px solid var(--cherryblossom, #EEE2FC);
    background: #EEE2FC;
    font-family: Avenir, sans-serif;
    color: #0A0F08;
    color: var(--black, #0A0F08);
    text-align: center;
    font-family: 'Avenir', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* section #portfolio {
    display: flex;
    width: 1620px;
    padding: 40px 246px 48px 246px;
    justify-content: flex-start;
    align-items: flex-start;
    
} */ 

.portfolio-container {
    display: flex;
    padding: 86px 131px;
    flex-direction: column;
    gap: 28px;
    
}

.cards-grid { 
    display: grid;grid-template-columns: repeat(4, 1fr);
    gap: 36px;
    justify-content: center;
}

#card {
display: flex;
width: 360px;
height: 100%;
padding: 0px 20px 20px 0px;
flex-direction: column;
align-items: flex-start;
}


.project-cover-img {
width: 360px;
height: 250px;
flex-shrink: 0;
border-radius: 30px 0 60px 0;
background: #F8F8F8;
box-shadow: 0px 4px 4px 0px rgba(45, 48, 71, 0.15);
}

.card-content {
display: flex;
width: 360px;
padding: 40px 20px 40px 40px;
flex-direction: column;
align-items: flex-start;
gap: 16px;
border-radius: 0px 60px;
border: 1px solid var(--gray-wash, #F8F8F8);
background: var(--content-grad-lightpurp, linear-gradient(93deg, rgba(255, 255, 255, 0.00) 2.29%, rgba(65, 74, 145, 0.34) 101.76%));
box-shadow: 0px 8px 10px 5px rgba(45, 48, 71, 0.10);
}

.card-content:hover {
    display: flex;
    width: 360px;
    padding: 40px 20px 40px 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    border-radius: 0px 60px;
    border: 1px solid var(--gray-wash, #F8F8F8);
    box-shadow: 0px 8px 10px 5px rgba(255, 255, 255, 0.432);
    }

    #card-para {
        color: #fff;
    }


.button-wrap {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    flex-shrink: 0;
    font-size: 0.7rem;
    padding: 5rem;
}

#footer-text {
    color: var(--gray-wash, #F8F8F8);
    font-family: Avenir, sans-serif;
    font-size: medium;
    
}

